{% extends 'base.html' %} {% block content %}


<h1>Add Medication</h1>




<form method="POST" class="col s12">

    <div class="row">

        <div class="input-field col s12, m6">

            <input id="Medication_Name" name="Medication_Name" type="text" class="validate">
            <label for="Medication_Name"><i class="fas fa-pills"></i>  &nbsp Medication Name</label>
        </div>
    
    
        <div class="input-field col s12, m6">
            <input id="Generic_Name" name="Generic_Name" type="text" class="validate">
            <label for="Generic_Name"><i class="fas fa-prescription-bottle"></i>&nbspGeneric Name</label>
        </div>
        </div>
        
        <div class="row">
        <div class="input-field col s12, m6">
            <input id="route" type="text" class="validate">
            <label for="route"><i class="fas fa-syringe"></i>&nbspRoute</label>
        </div>


        <div class="input-field col s12, m6">
            <input id="Dose" name="Dose" type="text" class="validate">
            <label for="Dose"><i class="fas fa-mortar-pestle"></i>&nbspDose</label>
        </div>
    </div>

   
    <div class="row">
        <div class="input-field col s12, m6">
            
                <p>
                    <h4>Weekday</h4>

                    <input type="checkbox" id="Monday" name="Monday" />
                    <label for="Monday">Monday</label>

                </p>
                <p>

                    <input type="checkbox" id="Tuesday" name="Tuesday" />
                    <label for="Tuesday">Tuesday</label>

                </p>
                <p>

                    <input type="checkbox" id="Wednesday" name="Wednesday" />
                    <label for="Wednesday">Wednesday</label>

                </p>
                <p>

                    <input id="Thursday" name="Thursday" type="checkbox" />
                    <label for="Thursday">Thursday</label>

                </p>
                <p>

                    <input type="checkbox" id="Friday" name="Friday" />
                    <label for="Friday">Friday</label>

                </p>
                <p>

                    <input type="checkbox" id="Saturday" name="Saturday" />
                    <label for="Saturday">Saturday</label>

                </p>

                <p>

                    <input type="checkbox" id="Sunday" name="Sunday" />
                    <label for="Sunday">Sunday</label>

                </p>
            
        </div>



        <div class="input-field col s12, m6">
           
                <p>
                    <h4>Time</h4>

                    <input type="checkbox" id="Morning" name="Morning" />
                    <label for="Morning">Morning</label>

                </p>
                <p>

                    <input type="checkbox" id="Midday" name="Midday" />
                    <label for="Midday">Midday</label>

                </p>
                <p>

                    <input type="checkbox" id="Afternoon" name="Afternoon" />
                    <label for="Afternoon">Afternoon</label>
                    
                </p>
                <p>

                    <input id="Night" name="Night" type="checkbox" />
                    <label for="Night">Night</label>

                </p>
            
        </div>


    </div>
    
    <div class="row">
        <div class="input-field col s12, m6">
            <i class="material-icons prefix">today</i>
            <input id="Date_prescribed" name="Date_prescribed" type="text" class="datepicker">
            <label for="icon_prefix">Date prescribed</label>
        </div>


        <div class="input-field col s12, m6">
            <i class="material-icons prefix">today</i>
            <input id="Date_discontinued" name="Date_discontinued" type="text" class="datepicker">
            <label for="icon_prefix">Date discontinued</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12, m6">
            <i class="fas fa-briefcase-medical"></i> Doctor:
            <div class="input-field inline">
                <input id="Physician" name="Physician" type="text" class="validate">
                <label for="Physician">&nbsp Physician</label>

            </div>
        </div>
        


    </div>
    <div class="row">
        <button class="btn waves-effect waves-light" type="submit">Add Medication
                <i class="fas fa-plus"></i>
             </button>
    </div>


</form>


{% endblock %}
