<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    
<h1>Add Medication</h1>


<form action = "/add" method = "POST">
        
        
        <label for="category_name">Weekday</label>
        <input type = "text" id ="category_name" name = "category_name" placeholder = "day"/>
        <label for="Medication Name">Medication Name</label>
        <input type = "text" id ="Medication Name"name = "med" placeholder = "medication"/>
        <label for="Generic Name">Generic Name</label>
        <input type = "text" id ="Generic Name"name = "Generic Name" placeholder = "name"/>
        <label for="Strength">Strength</label>
        <input type = "text" id ="Strength"name = "Strength" placeholder = "mg"/>
        <label for="Dosage">Dosage</label>
        <input type = "text" id ="Dosage" name = "Dosage" placeholder = "medication"/>
        <label for="Form">Form</label>
        <input type = "text" id ="Form"name = "Form" placeholder = "Tablet/Inh/suppository/sachet"/>
        <label for="Route">Route</label>
        <input type = "text" id ="Route"name = "Route" placeholder = "PO/PR/INH"/>
        <label for="Physician">Physician</label>
        <input type = "text" id ="Physician"name = "Physician" placeholder = "Dr:"/>
        <label for="date prescribed">date prescribed</label>
        <input type = "date" id ="date prescribed"name = "date prescribed" placeholder = "date"/>
        <label for="Duration">Duration</label>
        <input type = "text" id ="Duration"name = "Duration" placeholder = "mnth/week/days"/>
        <label for="Course_complete">Course_complete</label>
        <input type = "checkbox" id ="Course_complete"name = "Course_complete"/>
        <input type = 'submit' value = "send"/>
        
        
  </form>
    
</body>
</html>

        
        
