<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    
    <title>Document</title>
</head>
<body>
        <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('get_meds')}}" class="brand-logo">Medication Manager</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_meds') }}">Home</a></li>
                    <li><a href="{{ url_for('add_meds') }}">New Medication</a></li>
                    <li><a href="">Edit Medications</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{ url_for('get_meds') }}">Home</a></li>
                    <li><a href="{{ url_for('add_meds') }}">New Medication</a></li>
                    <li><a href="">Edit Medications</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    {% block content %}
    {% endblock %}
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
 $(document).ready(function(){
 $('.collapsible').collapsible();
  });
  
  $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });
        
 $(document).ready(function() {
            $('select').material_select();
         });
        
     
$('.timepicker').pickatime({
    default: 'now',
    twelvehour: false,
    donetext: 'OK',
  autoclose: false,
  vibrate: true 
});

$('select').formSelect('methodName');
    $('select').formSelect('methodName', paramName);
          
        
    </script>
    
</body>
</html>