{% extends 'base.html' %} {% block content %}
<div class='container-fluid'>
    <div class='row'>
        <div class='col s12'>

            <h2> Edit Medication List</h2>
        </div>
    </div>


    <div clas='row'>
        <div class='col s12'>
            <ul class="collapsible popout">
                {% for med in meds %}

                <li class="med_list">
                    <div class="collapsible-header"><i class="material-icons">expand_more</i>
                        <h5><b>{{med.Medication_Name}}</b> </h5>


                    </div>




                    <div class="collapsible-body">
                        <span> 
                <b>Generic Name: </b>
                {{med.Generic_Name}}
                <hr>
               <b> Dose:</b>
                {{med.Dose}}
                
                {{med.Route}}
                <hr>
               <b> Take {{med.Medication_Name}} on these Days: </b>
                {% for d in med.Day%}
                {{d }},
                {% endfor %}
                <hr>
               
              <b>  Take {{med.Medication_Name}} at these times each day:</b>
                {% for t in med.Time%}
                {{t}},
                {% endfor %}
                
                
               
                
                
                <hr>
              <b>  Prescribed by:</b>
                {{med.Physician}}
                
                <hr>
              <b>  Date prescribed:</b>
                {{med.Date_prescribed}} 
                
                <hr>
               <b> Expiry Date:</b>
                {{med.Date_discontinued}}
                
                
                <section>&nbsp &nbsp &nbsp</section>
                
             <div class = 'row'>  
            <div class = 'col s12, m1.5'>

                    <a class="valign-wrapper" href="{{ url_for('editmed', med_id = med._id) }}" class="waves-effect waves-teal btn-flat">Edit <i class="material-icons">mode_edit</i></a>
                        
                    </div>    
                   <div class = 'col s12, m1.5'>     
                        <a align="right" class="valign-wrapper" href="{{ url_for('delete_med', med_id = med._id) }}" class="waves-effect waves-teal btn-flat" >Delete<i class="material-icons">delete</i></a>
                        
                         
                </div>
                </div> 
               
                
            </span>

                    </div>
                </li>


                {% endfor %}


            </ul>
        </div>
    </div>
    <div class='row'>
        <div class='col s12 right-align'>
            <a class="btn-floating btn-large waves-effect waves-light red" href="{{ url_for('add_meds') }}"><i class="material-icons">add</i></a>

        </div>
    </div>

</div>

{% endblock %}
