{% extends 'base.html' %}
{% block content %}
    
    <h1> My Medication List</h1>
    
     
    
    
   
    
    
<ul class="collapsible popout">
    {% for med in meds %}
    
    <li>
        <div class="collapsible-header"><i class="material-icons">expand_more</i> {{med.Medication_Name}} 
        </div>
        <div class="collapsible-body">
            <span> 
                {{med.Generic_Name}} 
                {{med.Dose}}
                {{med.form}}
                {{med.route}}
                <hr>
                {{med.Morning}}
                {{med.Midday}}
                {{med.Afternoon}}
                {{med.Night}}
                
                <hr>
                {{med.Physician}}
                {{med.Date_prescribed}} - {{med.Date_discontinued}}
                
                <hr>
                
               
                
            </span>
        </div>
    </li>
  
    
    {% endfor %}

</ul>
        
{% endblock %}
    
