{% extends "base.html" %} {% block content %}

<div class="container-fluid">

    <div class="row">
        <div class="col s12">
            <h4>{{date}} </h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h3> It's {{day}} {{time_of_day}}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h4><b>You are due the following medication now:</b></h4>
        </div>
    </div>

    <div class="row">
        {% for med in meds %}

        <div class="col s12">
            
                <h4 class="test"> <i class="fas fa-pills"> &nbsp {{med.Medication_Name}}</i> {{med.Dose}} </h4>
         
         
        
             
            </div>
            
             
        {% endfor %}
        
        
        
    </div>
   
    








</div>
{% endblock %}
