{% extends 'base.html' %} {% block content %}
<div class='container'>
    <div class='row'>
        <div class='col s12'>

            <h2> Weekly Medication Manager</h2> 
        </div>
    </div>


    <div clas='row'>
        <div class='col s12'>
            <ul class="collapsible popout">
                {% for key in ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday') %}
        {% if key in weekly %}

                <li class="med_list">
                    <div class="collapsible-header"><i class="material-icons">expand_more</i>
                        <h5><b>{{key}}</b> </h5>
                        

                        
                    </div>




                    <div class="collapsible-body">
                        <span> 
              <h6>  <b>Morning :</b></h6>
               {% for i in weekly[key]['Morning'] %}
              <b> {{i}}, &nbsp</b>
               {% endfor %}
                <hr>
               <b> Afternoon :</b>
                {% for i in weekly[key]['Afternoon'] %}
               <b> {{i}}, &nbsp</b>
                
                {% endfor %}
                <hr>
               <b> Evening :</b>
                {% for i in weekly[key]['Evening'] %}
              <b>  {{i}}, &nbsp</b>
                {% endfor %}
                <hr>
               
              <b>  Night :</b>
                {% for i in weekly[key]['Night'] %}
             <b>   {{i}}, &nbsp</b>
                {% endfor %}
                
                
               
                
                
               
               
                
            </span>

                    </div>
                </li>

{% endif %}
    {% endfor %}
                


            </ul>
        </div>
    </div>
    <div class='row'>
        <div class='col s12 right-align'>
            <a class="btn-floating btn-large waves-effect waves-light red" href="{{ url_for('add_meds') }}"><i class="material-icons">add</i></a>

        </div>
    </div>

</div>

{% endblock %}