{% extends "base.html" %} {% block content %}

<div class = 'row'>
    {% for key in ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday') %}
        {% if key in weekly %}
        <div class = "col s12, m1.5">
            <a href="#"><h4>{{key}}</h4></a>
                
                    <p>Morning :</p>
                    {% for i in weekly[key]['Morning'] %}
                        <p>{{i}}</p>
                    {% endfor %}
                    <p>Afternoon :</p>
                    {% for i in weekly[key]['Afternoon'] %}
                        <p>{{i}}</p>
                    {% endfor %}
                    <p>Evening :</p>
                    {% for i in weekly[key]['Evening'] %}
                        <p>{{i}}</p>
                    {% endfor %}
                    <p>Night :</p>
                    {% for i in weekly[key]['Night'] %}
                        <p>{{i}}</p>
                    {% endfor %}
                
            
        </div>
        {% endif %}
    {% endfor %}
    
{% endblock %}