
{% extends "base.html" %} {% block content %}
<div class = 'container-fluid'>


    
    {% for key in ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday') %}
        {% if key in weekly %}
        <div class = 'row'>
        <div class = "col s12, m1.5" >
            
            <a href="#"><h4 class = "tt"><b>{{key}}</b></h4></a>
            <hr>
             
         
         
                    <h5><p>Morning</p></h5>
                    {% for i in weekly[key]['Morning'] %}
                        <p><h6>{{i}}</h6></p>
                    {% endfor %}
                   <h5> <p>Afternoon</p></h5>
                    {% for i in weekly[key]['Afternoon'] %}
                        <p><h6>{{i}}</h6></p>
                    {% endfor %}
                   <h5> <p>Evening</p></h5>
                    {% for i in weekly[key]['Evening'] %}
                        <p><h6>{{i}}</h6></p>
                    {% endfor %}
                   <h5> <p>Night</p></h5>
                    {% for i in weekly[key]['Night'] %}
                        <p><h6>{{i}}</h6></p>
                    {% endfor %}
                
            
        </div>
       
        
        {% endif %}
    {% endfor %}
   
 
  </div>   
  </div>
{% endblock %}